In [39]:
table2d = [[4, 7, 2, 5], [5, 1, 9, 2], [8, 3, 6, 6]]

In [40]:
table2d

[[4, 7, 2, 5], [5, 1, 9, 2], [8, 3, 6, 6]]

In [41]:
print(table2d[2][0])

8

In [42]:
for row in table2d:
    print(row)

[4, 7, 2, 5]
[5, 1, 9, 2]
[8, 3, 6, 6]

In [43]:
# for <variable> in <sequence>
#  <sequence> must refer to an object that is a string, list, range or any container type that can be interated over
def print2d(table):
    'prints values in 2D list table as a 2d table'
    for row in table:
        for item in row:
            print(item, end=' ')
        print()

In [44]:
print2d(table2d)

4 7 2 5
5 1 9 2
8 3 6 6

In [36]:
# p. 142
def incr2d(table):
    'increments each number in 2d list of numbers'
    nrows = len(table)
    ncols = len(table[0])
    
    for i in range(nrows):  # i is the row index
        print(i)
        for j in range(ncols):  # j is the column index
            print(j)
            table[i][j] += 1

In [45]:
table2d_new = incr2d(table2d)

0
0
1
2
3
1
0
1
2
3
2
0
1
2
3

In [46]:
print2d(table2d)

5 8 3 6
6 2 10 3
9 4 7 7

In [47]:
# get number of columns
print(len(table2d[0]))

4

In [48]:
# practice problem 5.9, page 143
# write function add2d() that takes 2d lists of the same size as input args, increments every entry in the first line with the 
#     the value of the cooresponding entry in the second list

t = [[4, 7, 2, 5], [5, 1, 9, 2], [8, 3, 6, 6]]
s = [[0, 1, 2, 0], [0, 1, 1, 1], [0, 1, 0, 0]]

print2d(t)
print()
print2d(s)

4 7 2 5
5 1 9 2
8 3 6 6

0 1 2 0
0 1 1 1
0 1 0 0

In [49]:
def add2d(t,s):
    t=t
    s=s
    nrows = len(t)
    ncols = len(t[0])
    
    for i in range(nrows):
        for j in range(ncols):
            t[i][j] += s[i][j]

In [50]:
add2d(t,s)
for row in t:
    print(row)

[4, 8, 4, 5]
[5, 2, 10, 3]
[8, 4, 6, 6]