In [6]:
def print2D2(table):
    # prints values in 2d list of numbers t as a 2D table
    #     only values in row up to first 0 are prin
    for row in table:
        for num in row:
            print(num, end='')
        print()

In [7]:
table = [[2, 3, 0, 6], [0, 3, 4, 5], [4, 5, 6, 0]]
print2D2(table)

2306
0345
4560

In [8]:
def before0(table):
     # prints values in 2d list of numbers t as a 2D table
    #     only values in row up to first 0 are print3d
    for row in table:
        for num in row:    # inner loop
            if num == 0:   # if num is 0
                break      # terminate inner for loop
            print(num, end='')  # otherwise print num
        print()

In [9]:
table = [[2, 3, 0, 6], [0, 3, 4, 5], [4, 5, 6, 0]]
before0(table)

23

456

In [10]:
def ignore0(table):
    # prints values in 2d list of numbers t as a 2d table;
    #     0 values are not printed
    for row in table:
        for num in row:    # inner loop
            if num == 0:   # if num is 0
                continue   # current loom iteration
            print(num, end='')  # otherwise print num
        print()

In [11]:
table = [[2, 3, 0, 6], [0, 3, 4, 5], [4, 5, 6, 0]]
ignore0(table)

236
345
456

In [ ]:
# pass statement
if n % 2 == 0:
    pass   # do nothing to an even number
else:
    print(n)   # print if an odd number

In [12]:
for j in range(101,1000,1):
    if j == 105:
        break
    print("problem1")

problem1
problem1
problem1
problem1

In [13]:
for j in range(100,110,1):
    for i in range(10):
        if i % 4 == 3:
            break
        print("i is", i, "and j is", j)

i is 0 and j is 100
i is 1 and j is 100
i is 2 and j is 100
i is 0 and j is 101
i is 1 and j is 101
i is 2 and j is 101
i is 0 and j is 102
i is 1 and j is 102
i is 2 and j is 102
i is 0 and j is 103
i is 1 and j is 103
i is 2 and j is 103
i is 0 and j is 104
i is 1 and j is 104
i is 2 and j is 104
i is 0 and j is 105
i is 1 and j is 105
i is 2 and j is 105
i is 0 and j is 106
i is 1 and j is 106
i is 2 and j is 106
i is 0 and j is 107
i is 1 and j is 107
i is 2 and j is 107
i is 0 and j is 108
i is 1 and j is 108
i is 2 and j is 108
i is 0 and j is 109
i is 1 and j is 109
i is 2 and j is 109

In [14]:
for j in range(100,110,1):
    for i in range(10):
        print("i is", i, "and j is", j)
    if i % 4 == 3:
        break

i is 0 and j is 100
i is 1 and j is 100
i is 2 and j is 100
i is 3 and j is 100
i is 4 and j is 100
i is 5 and j is 100
i is 6 and j is 100
i is 7 and j is 100
i is 8 and j is 100
i is 9 and j is 100
i is 0 and j is 101
i is 1 and j is 101
i is 2 and j is 101
i is 3 and j is 101
i is 4 and j is 101
i is 5 and j is 101
i is 6 and j is 101
i is 7 and j is 101
i is 8 and j is 101
i is 9 and j is 101
i is 0 and j is 102
i is 1 and j is 102
i is 2 and j is 102
i is 3 and j is 102
i is 4 and j is 102
i is 5 and j is 102
i is 6 and j is 102
i is 7 and j is 102
i is 8 and j is 102
i is 9 and j is 102
i is 0 and j is 103
i is 1 and j is 103
i is 2 and j is 103
i is 3 and j is 103
i is 4 and j is 103
i is 5 and j is 103
i is 6 and j is 103
i is 7 and j is 103
i is 8 and j is 103
i is 9 and j is 103
i is 0 and j is 104
i is 1 and j is 104
i is 2 and j is 104
i is 3 and j is 104
i is 4 and j is 104
i is 5 and j is 104
i is 6 and j is 104
i is 7 and j is 104
i is 8 and j is 104
i is 9 and j is 104
i is 0 and j is 105
i is 1 and j is 105
i is 2 and j is 105
i is 3 and j is 105
i is 4 and j is 105
i is 5 and j is 105
i is 6 and j is 105
i is 7 and j is 105
i is 8 and j is 105
i is 9 and j is 105
i is 0 and j is 106
i is 1 and j is 106
i is 2 and j is 106
i is 3 and j is 106
i is 4 and j is 106
i is 5 and j is 106
i is 6 and j is 106
i is 7 and j is 106
i is 8 and j is 106
i is 9 and j is 106
i is 0 and j is 107
i is 1 and j is 107
i is 2 and j is 107
i is 3 and j is 107
i is 4 and j is 107
i is 5 and j is 107
i is 6 and j is 107
i is 7 and j is 107
i is 8 and j is 107
i is 9 and j is 107
i is 0 and j is 108
i is 1 and j is 108
i is 2 and j is 108
i is 3 and j is 108
i is 4 and j is 108
i is 5 and j is 108
i is 6 and j is 108
i is 7 and j is 108
i is 8 and j is 108
i is 9 and j is 108
i is 0 and j is 109
i is 1 and j is 109
i is 2 and j is 109
i is 3 and j is 109
i is 4 and j is 109
i is 5 and j is 109
i is 6 and j is 109
i is 7 and j is 109
i is 8 and j is 109
i is 9 and j is 109

In [15]:
for j in range(5):
    for i in range(10,15,1):
        if i * j > 30:
            break
    if j > 2:
        break

In [16]:
for i in range(10):
    if i % 4 == 3:
        print("this is the if block")
        continue
    print(i)

0
1
2
this is the if block
4
5
6
this is the if block
8
9

In [18]:
for j in range(101,110,1):
    if j == 105:
        print(j)
        continue
    print("problem3")

problem3
problem3
problem3
problem3
105
problem3
problem3
problem3
problem3

In [19]:
for j in range(100,105,1):
    for i in range(5):
        if i % 2 == 1:
            continue
        print("i is", i, "and j is", j)

i is 0 and j is 100
i is 2 and j is 100
i is 4 and j is 100
i is 0 and j is 101
i is 2 and j is 101
i is 4 and j is 101
i is 0 and j is 102
i is 2 and j is 102
i is 4 and j is 102
i is 0 and j is 103
i is 2 and j is 103
i is 4 and j is 103
i is 0 and j is 104
i is 2 and j is 104
i is 4 and j is 104

In [20]:
for j in range(100,105,1):
    for i in range(5):
        print("i is", i, "and j is", j)
    if j % 2 == 1:
        continue

i is 0 and j is 100
i is 1 and j is 100
i is 2 and j is 100
i is 3 and j is 100
i is 4 and j is 100
i is 0 and j is 101
i is 1 and j is 101
i is 2 and j is 101
i is 3 and j is 101
i is 4 and j is 101
i is 0 and j is 102
i is 1 and j is 102
i is 2 and j is 102
i is 3 and j is 102
i is 4 and j is 102
i is 0 and j is 103
i is 1 and j is 103
i is 2 and j is 103
i is 3 and j is 103
i is 4 and j is 103
i is 0 and j is 104
i is 1 and j is 104
i is 2 and j is 104
i is 3 and j is 104
i is 4 and j is 104

In [22]:
for j in range(100,105,1):
    if j == 103:
        print(j)
        continue
    for i in range(5):
        print(i)
        if i == 3:
            continue
        ###### lines of code #####

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
103
0
1
2
3
4

In [23]:
## prints numbers not divisible by 3
for i in range(10):
    if i % 3 == 0:
        pass
    else:
        print(i)

1
2
4
5
7
8

In [30]:
#  prints only odd numbers from 20 to 40:
for i in range(41):
    if i < 20:
        pass
    elif i % 2 == 1:
        print(i)
    else:
        pass

21
23
25
27
29
31
33
35
37
39

In [24]:
5 % 2

1