In [1]:
def add_person():
    
    fname = input('First Name: ')
    lname = input('Last Name: ')
    age = input('Age: ')
    occup = input('Occupation: ')
    height = input('Height (in inches): ')
    if height.isnumeric() == False:
        height = input('Height (in inches) must be an integer: ')
    weight = input('Weight (in pounds): ')
    if weight.isnumeric() == False:
        weight = input('Weight (in pounds) must be an integer: ')
    lifestyle = input('Lifestyle (1-sedentary, 2-moderate, 3-active): ')
    if lifestyle == '1':
        lifestyle = "sedentary"
    elif lifestyle == '2':
        lifestyle = "moderate"
    elif lifestyle == '3':
        lifestyle = "active"
    else:
        lifestyle = input("Incorrect input. Please enter 1, 2 or 3 for Lifstyle choice. ")
        
    new_line = ('{}, {}, {}, {}, {}, {}, {}\n'.format(fname, lname, age, occup, height, weight, lifestyle,'\n'))
        
    return(new_line)

In [2]:
def inches2feet(height):
    height_feet = height//12
    height_inches = height % 12
    new_ht = str(height_feet) + "'" + str(height_inches) + '"'
    return new_ht

In [3]:
greeting = 'Hello.'

print(greeting)

# read-only is the default but set to be careful
try:
    roster_file = open(input("Please enter a roster file: "), "r")
except IOError:
    print('File not found! try again.')
    roster_file = open(input("Please enter a roster file: "), "r")


# read the header first to get rid of it then read the content
header = roster_file.readline()
#print(header)
roster_content = roster_file.readlines()
roster_file.close()

Hello.
Please enter a roster file: roster_extended.csv

In [4]:
print(roster_content)
type(roster_content)

['Anna,Barbara,35,nurse,63,129,,x,\n', 'Catherine,Do,45,physicist,65,135,,,x\n', 'Eric,Frederick,28,teacher,65,140,,x,\n', 'Gabriel,Hernandez,55,surgeon,67,150,x,,\n', 'Ivy,Joo,31,engineer,62,126,x,,\n', 'Kelly,Marks,21,student,64,132,,,x\n', 'Nancy,Owens,60,immunologist,68,170,x,,\n', 'Patricia,Qin,36,dental assistant,59,110,x,,\n', 'Roderick,Stevenson,51,bus driver,66,160,x,,\n', 'Tracy,Umfreville,42,audiologist,67,156,x,,\n', 'Victoria,Wolfeschlegelsteinhausenbergerdorff,38,data analyst,68,158,,x,\n', 'Lucy,Xi,49,professor,69,161,,x,\n', 'Yolanda,Zachary,58,secretary,70,164,x,,\n']

list

In [5]:
num_names = len(roster_content)
print("There are {0} names in this file. Would you like to enter additional names? (Y/N)".format(num_names))

new_names = int(input("How many more names? "))

#print("adding {0} names.".format(num_names))

for new_names in range(0,new_names):
    print('{0:-^11}'.format(' ' + str(new_names+1) + ' ' ))   
    roster_content.append(add_person())

print(roster_content)

There are 13 names in this file. Would you like to enter additional names? (Y/N)
How many more names? 2
---- 1 ----
First Name: Spongbob
Last Name: Squarepants
Age: 33
Occupation: fry cook
Height (in inches): 53
Weight (in pounds): 100
Lifestyle (1-sedentary, 2-moderate, 3-active): 2
---- 2 ----
First Name: Patrick
Last Name: Star
Age: 35
Occupation: unemployed
Height (in inches): 50
Weight (in pounds): 100
Lifestyle (1-sedentary, 2-moderate, 3-active): 3
['Anna,Barbara,35,nurse,63,129,,x,\n', 'Catherine,Do,45,physicist,65,135,,,x\n', 'Eric,Frederick,28,teacher,65,140,,x,\n', 'Gabriel,Hernandez,55,surgeon,67,150,x,,\n', 'Ivy,Joo,31,engineer,62,126,x,,\n', 'Kelly,Marks,21,student,64,132,,,x\n', 'Nancy,Owens,60,immunologist,68,170,x,,\n', 'Patricia,Qin,36,dental assistant,59,110,x,,\n', 'Roderick,Stevenson,51,bus driver,66,160,x,,\n', 'Tracy,Umfreville,42,audiologist,67,156,x,,\n', 'Victoria,Wolfeschlegelsteinhausenbergerdorff,38,data analyst,68,158,,x,\n', 'Lucy,Xi,49,professor,69,161,,x,\n', 'Yolanda,Zachary,58,secretary,70,164,x,,\n', 'Spongbob, Squarepants, 33, fry cook, 53, 100, moderate\n', 'Patrick, Star, 35, unemployed, 50, 100, active\n']

In [7]:
#type(roster_content)
print(roster_content)

['Anna,Barbara,35,nurse,63,129,,x,\n', 'Catherine,Do,45,physicist,65,135,,,x\n', 'Eric,Frederick,28,teacher,65,140,,x,\n', 'Gabriel,Hernandez,55,surgeon,67,150,x,,\n', 'Ivy,Joo,31,engineer,62,126,x,,\n', 'Kelly,Marks,21,student,64,132,,,x\n', 'Nancy,Owens,60,immunologist,68,170,x,,\n', 'Patricia,Qin,36,dental assistant,59,110,x,,\n', 'Roderick,Stevenson,51,bus driver,66,160,x,,\n', 'Tracy,Umfreville,42,audiologist,67,156,x,,\n', 'Victoria,Wolfeschlegelsteinhausenbergerdorff,38,data analyst,68,158,,x,\n', 'Lucy,Xi,49,professor,69,161,,x,\n', 'Yolanda,Zachary,58,secretary,70,164,x,,\n', 'Spongbob, Squarepants, 33, fry cook, 53, 100, moderate\n', 'Patrick, Star, 35, unemployed, 50, 100, active\n']

In [8]:
# str.split(str="", num = string.count(str))
# x.split(“,”) 
# new_content = roster_content[0].split(',')
# print(new_content)

roster_content_split = []

for name in roster_content:
    current_row = name.replace('\n', '')    
    roster_content_split.append(current_row.split(',')) 
    
#for person in roster:
    #currentrow = person.replace('\n', '')
    #personinfo = currentrow.split(',')
    
print(roster_content_split)

[['Anna', 'Barbara', '35', 'nurse', '63', '129', '', 'x', ''], ['Catherine', 'Do', '45', 'physicist', '65', '135', '', '', 'x'], ['Eric', 'Frederick', '28', 'teacher', '65', '140', '', 'x', ''], ['Gabriel', 'Hernandez', '55', 'surgeon', '67', '150', 'x', '', ''], ['Ivy', 'Joo', '31', 'engineer', '62', '126', 'x', '', ''], ['Kelly', 'Marks', '21', 'student', '64', '132', '', '', 'x'], ['Nancy', 'Owens', '60', 'immunologist', '68', '170', 'x', '', ''], ['Patricia', 'Qin', '36', 'dental assistant', '59', '110', 'x', '', ''], ['Roderick', 'Stevenson', '51', 'bus driver', '66', '160', 'x', '', ''], ['Tracy', 'Umfreville', '42', 'audiologist', '67', '156', 'x', '', ''], ['Victoria', 'Wolfeschlegelsteinhausenbergerdorff', '38', 'data analyst', '68', '158', '', 'x', ''], ['Lucy', 'Xi', '49', 'professor', '69', '161', '', 'x', ''], ['Yolanda', 'Zachary', '58', 'secretary', '70', '164', 'x', '', ''], ['Spongbob', ' Squarepants', ' 33', ' fry cook', ' 53', ' 100', ' moderate'], ['Patrick', ' Star', ' 35', ' unemployed', ' 50', ' 100', ' active']]

In [9]:
import pprint
pprint.pprint(roster_content_split)

[['Anna', 'Barbara', '35', 'nurse', '63', '129', '', 'x', ''],
 ['Catherine', 'Do', '45', 'physicist', '65', '135', '', '', 'x'],
 ['Eric', 'Frederick', '28', 'teacher', '65', '140', '', 'x', ''],
 ['Gabriel', 'Hernandez', '55', 'surgeon', '67', '150', 'x', '', ''],
 ['Ivy', 'Joo', '31', 'engineer', '62', '126', 'x', '', ''],
 ['Kelly', 'Marks', '21', 'student', '64', '132', '', '', 'x'],
 ['Nancy', 'Owens', '60', 'immunologist', '68', '170', 'x', '', ''],
 ['Patricia', 'Qin', '36', 'dental assistant', '59', '110', 'x', '', ''],
 ['Roderick', 'Stevenson', '51', 'bus driver', '66', '160', 'x', '', ''],
 ['Tracy', 'Umfreville', '42', 'audiologist', '67', '156', 'x', '', ''],
 ['Victoria',
  'Wolfeschlegelsteinhausenbergerdorff',
  '38',
  'data analyst',
  '68',
  '158',
  '',
  'x',
  ''],
 ['Lucy', 'Xi', '49', 'professor', '69', '161', '', 'x', ''],
 ['Yolanda', 'Zachary', '58', 'secretary', '70', '164', 'x', '', ''],
 ['Spongbob', ' Squarepants', ' 33', ' fry cook', ' 53', ' 100', ' moderate'],
 ['Patrick', ' Star', ' 35', ' unemployed', ' 50', ' 100', ' active']]

In [10]:
# strs = str.replace('[','').split('],')

In [11]:
#print(longestfirst, longestlast)

# variable lengths
longestfirst = 9
longestlast = 8
age_length = 3
longestoccupation = 10
height_length = 5
weight_length = 3
activity_length = 10

print(longestfirst, longestlast, longestoccupation)

for person in roster_content_split:

    ## First Name: if name is longer than longestfirst, then I need to update longestfirst
    if len(person[0]) > longestfirst:
        longestfirst = len(person[0])

    ## Last Name: if name is longer than longestlast, then I need to update longestlast
    if len(person[1]) > longestlast:
        longestlast = len(person[1])
        
    ## occupation: if name is longer than longestlast, then I need to update longestlast
    if len(person[3]) > longestoccupation:
        longestoccupation = len(person[3])    
    
    ## occupation: if name is longer than longestlast, then I need to update longestlast
    if person[6] == 'x':
        person[6] = 'n/a' 
    elif person[6] == '':
        person[6] = '99'  # ie. missing data

print(longestfirst, longestlast, longestoccupation)

type(longestfirst)

9 8 10
9 35 16

int

In [12]:
# the output file
roster_out = open(input("Save new roster file as:  "), "w")

# header
header = '{:>{var1}} {:>{var2}} {:>3} {:>{var3}} {:>15} {:>15} {:>15} \n'.format('First', 'Last', 'Age', 'Occupation', 'Ht', 'Wt', 'Lifestyle', var1 = longestfirst, var2 = longestlast, var3 = longestoccupation)
roster_out.write(header)

for person in roster_content_split:
    # Anna', 'Barbara', '35', 'nurse', '63', '129', '', 'x', '']
    personformat = '{:>{var1}} {:>{var2}} {:>3} {:>{var3}} {:>15} {:>15} {:>15} \n'.format(person[0], person[1], person[2], person[3], inches2feet(int(person[4])), person[5], person[6], var1 = longestfirst, var2 = longestlast, var3 = longestoccupation)
    #print(personformat)
    #roster_strings = ''.join(roster_content_split)
    roster_out.write(personformat)
    
roster_out.close()
print("File saved!")

Save new roster file as:  test3.txt

KeyError: 'var1+1'